stages:
  - unit_tests
  - release
  - network_tests

variables:
  LC_ALL: "en_US.UTF-8"
  LANG: "en_US.UTF-8"

before_script:
  - bundle install
  - brew install carthage

unit_tests:
  stage: unit_tests
  artifacts:
    paths:
      - fastlane/tests_output
  script:
    - fastlane tests
  tags:
    - ios

network_tests:
  stage: network_tests
  artifacts:
    paths:
      - fastlane/network_tests_output
  before_script:
    - get_env_settings.sh $SETTINGS_URL $SETTINGS_BRANCH_MASTER
  script:
    - fastlane network_tests
  only:
    - schedules
  tags:
    - ios

release:
  stage: release
  script:
    - fastlane release
  tags:
    - ios
  only:
    - /^release-[0-9]+(?:.[0-9]+)+$/
  when: manual
