//
//  ECHONetworkTestsConfig.default.xcconfig
//  ECHO
//
//  Created by Vladimir Sharaev on 10/04/2019.
//  Copyright © 2019 PixelPlex. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

NODE_URL = <NODE_URL>

TIMEOUT = 20

COUNTER_CONTRACT = <COUNTER_CONTRACT>
LOGS_CONTRACT = <LOGS_CONTRACT>
X86_CONTRACT = <X86_CONTRACT>
SIDECHAIN_TRANSFER_OBJECT = <SIDECHAIN_TRANSFER_OBJECT>

DEFAULT_NAME = <DEFAULT_NAME>
DEFAULT_TO_NAME = <DEFAULT_TO_NAME>
DEFAULT_PASS = <DEFAULT_PASS>

DEFAULT_ASSET = <DEFAULT_ASSET>
DEFAULT_ASSET_LOWER_BOUND = <DEFAULT_ASSET_LOWER_BOUND>
DEFAULT_ANOTHER_ASSET = <DEFAULT_ANOTHER_ASSET>

DEFAULT_ETH_ADDRESS = <DEFAULT_ETH_ADDRESS>

DEFAULT_LOGS_CONTRACT_METHOD = <DEFAULT_LOGS_CONTRACT_METHOD>
DEFAULT_CALL_CONTRACT_METHOD = <DEFAULT_CALL_CONTRACT_METHOD>
DEFAULT_CALL_CONTRACT_BYTECODE = <DEFAULT_CALL_CONTRACT_BYTECODE>
DEFAULT_QUERY_CONTRACT_METHOD = <DEFAULT_QUERY_CONTRACT_METHOD>
DEFAULT_QUERY_CONTRACT_BYTECODE = <DEFAULT_QUERY_CONTRACT_BYTECODE>

EVM_CONTRACT_RESULT = <EVM_CONTRACT_RESULT>
X86_CONTRACT_RESULT = <X86_CONTRACT_RESULT>

CONTRACT_LOGS_FROM_BLOCK = <CONTRACT_LOGS_FROM_BLOCK>
CONTRACT_LOGS_TO_BLOCK = <CONTRACT_LOGS_TO_BLOCK>

LOGS_CONTRACT_BYTECODE = <LOGS_CONTRACT_BYTECODE>

COUNTER_CONTRACT_BYTECODE = <COUNTER_CONTRACT_BYTECODE>

DEFAULT_BLOCK_NUMBER = 10